{{ define "main" }}

<section id="list">

    {{ $baseurl := .Site.BaseURL }}
	<h1>년도별 보기</h1>

    {{ .Content }}

    {{ range (.Paginate (.Data.Pages.GroupByDate "2006")).PageGroups  }}

    <h2>{{ .Key }}</h2>
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
            <time class="date-meta">{{ .Date.Format "1월 2일" }}</time>
        </li>
        {{ end }}
    </ul>
    
    {{ end }}

</section>

{{ template "_internal/pagination.html" . }}

{{ end }}