html {
	--black: #101517;
	--white: #F1F1F1;
	--ce: #cecece;
	--ssix: #666666;
	--fseven: #f7f7f7;
	--b: #bbbbbb;
	--c: #cccccc;
	--dd: #dddddd;
	--box-shadow-img: 0 3px 3px var(--b);
	--mdc-theme-primary: #303030;
}

.win #container main article p {
  transform: rotate(-0.0000000001deg);
  text-shadow: 0 0 1px rgba(0,0,0,0.3);
}

/* common */

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  overflow-x: hidden;
  font-family: "IropkeBatangM", serif;
  color: var(--black);
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
aside,
#container main section#list h2,
#container main section#list h3,
#container main section#home ul li h2,
#container main section#list ul li,
#nav-site-title {
	font-family: "NanumBarunpen", sans-serif;
	word-break: keep-all;
}

h1,
#container main section#list h2,
#container main section#list h3,
#container main section#home ul li h2,
#nav-site-title {
  font-weight: bold;
  font-size: 2.2rem;
}

h2,
h3,
h4,
h5,
h6,
nav,
aside,
#container main section#list ul li {
  font-weight: normal;
}

#container {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#container > * {
  width: 700px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  #container > *, header .title {
    width: auto;
    margin: 0 1.2em;
  }
}

#container header h1 {
  font-size: 2.4rem;
}

#container header h1 a {
  color: var(--black);
}

#container header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

#container header ul li {
  margin-left: 1em;
}

@media only screen and (max-width: 800px) {
  #container header ul {
    float: none;
  }
  #container header ul li {
    margin: 0 1em 0 0;
  }
}

#container nav:not(.menu) {
  border-bottom: solid 3px var(--ce);
  padding-bottom: 0.5em;
}

#container nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#container nav ul li {
  margin-left: 1em;
}

#container nav ul li a.active {
  border-bottom: 0.5em solid var(--ssix);
}

#container main {
  flex: 1 0 0;
  line-height: 1.5;
  font-size: 1rem;
}

@media only screen and (max-width: 800px) {
  #container main {
    flex: 1 0 0;
    line-height: 1.5;
    font-size: 1rem;
  }
}

#container main section#home ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container main section#home ul li {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
}

#container main section#home ul li h2 {
  margin: 0.2em 0;
}

#container main section#home span {
  color: var(--ssix);
}

#container main section#list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container main section#list ul li {
  padding: 0.5em 0;
  border-bottom: 1px solid var(--ce);
}

#container main section#list ul li time, #container main section#list ul li span.count {
  float: right;
}

#container main section#list ul li:last-child {
  border-bottom: none;
}

#container main section.post-nav ul {
  font-family: "NanumBarunpen", sans-serif;
  margin: 0.5em 0;
  padding: 0.5em 0 0;
  list-style: none;
  display: flex;
  word-break: keep-all;
  justify-content: space-between;
  border-top: 1px solid var(--fseven);
  font-size: 0.9em;
}

@media only screen and (max-width: 1040px) {
	#container main article {
		margin-top: 2rem;
	}
}

#container main article p a, #container main article ul li a {
  text-decoration: underline;
}

#container main article pre {
  background-color: var(--fseven);
  border: 1px solid var(--ce);
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

#container main article pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
  background-color: transparent;
}

#container main article p code {
  font-family: "Fira Code";
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: var(--fseven);
  border-radius: 3px;
}

#container main article p kbd {
  display: inline-block;
  padding: 0.2em 0.3em;
  font-size: 0.8em;
  line-height: 1em;
  color: #555555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border-width: 1px;
  border-style: solid;
  border-color: var(--c) var(--c) var(--b);
  /* border-image: none; */
  border-radius: 3px;
  box-shadow: 0 -1px 0 var(--b) inset;
}

#container main h1 {
  margin-bottom: 1rem;
}

#container footer {
  border-top: solid 1px var(--ce);
}

#container footer h6 {
  font-size: 0.8em;
}

.meta-aside, #container main section#home ul li aside, #container main article aside {
  margin: 0.5em 0;
  color: #909090;
  font-size: 0.8em;
}

.meta-aside ul, #container main section#home ul li aside ul, #container main article aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.meta-aside ul li, #container main section#home ul li aside ul li, #container main article aside ul li {
  margin: 0;
  padding: 0;
}

a {
  color: var(--black);
  text-decoration: none;
}

/* image */
/* TODO: edit margin */

.image, figure img, img {
  width: 100%;
  box-shadow: var(--box-shadow-img);
}

.full-image, figure.full img, img[src*="full"] {
  width: 100%;
  box-shadow: var(--box-shadow-img);
}

@supports (width: 100vw) {
  .full-image, figure.full img, img[src*="full"] {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.mid-image, figure.mid img, img[src*="mid"] {
  width: 100%;
  box-shadow: var(--box-shadow-img);
}

#home li:not(.first) img {
	width: auto;
	max-height: 160px;
  	float: right;
	margin-top: 0.5em;
	margin-bottom: 0.5em;  
}

#home > .first  > img {
	width: 100%;
	position: relative;
	margin: 0 auto;
}

@supports (width: 100vw) {
  .mid-image, figure.mid img, img[src*="mid"] {
    width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -400px;
    margin-right: -400px;
  }

  @media only screen and (max-width: 800px) {
    .mid-image, figure.mid img, img[src*="mid"] {
      width: 100%;
      left: 0;
      right: 0;
      margin: 0;
    }
  }
}

.float-image, figure.float img, img[src*="float"] {
  width: 300px;
  float: left;
  margin: 0 1em 1em -3em;
  box-shadow: 0 3px 3px var(--box-shadow-img);
}

@media only screen and (max-width: 800px) {
  .float-image, figure.float img, img[src*="float"] {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.float-image-right, figure.float-right img, img[src*="float-right"] {
  width: 300px;
  float: right;
  margin: 0 -3em 1em 1em;
  box-shadow: 0 3px 3px var(--box-shadow-img);
}

@media only screen and (max-width: 800px) {
  .float-image-right, figure.float-right img, img[src*="float-right"] {
    float: none;
    margin: 0;
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  figure.half {
    text-align: center;
  }
  figure.half > img {
    width: 60%;
  }
}

/* figure */

figure {
  margin: 0;
}

figure figcaption p {
  margin-top: 0.3em;
  font-size: 0.8em;
  font-style: italic;
}

figure.full {
  margin: 0;
}

figure.mid {
  margin: 0;
}

figure.float {
  margin: 0;
  float: left;
}

figure.float-right {
  margin: 0;
  float: right;
}

figure.float-right figcaption {
  margin-left: 1em;
}

table {
  width: 100%;
  border-bottom: solid 1px var(--ce);
}

table thead {
  background-color: var(--ce);
}

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
  margin: 15px 0; }
  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
margin-bottom: 0; }

@media only screen and (max-width: 800px) {
  blockquote {
    margin: 1em 0;
    padding: 0.5em;
  }
}

dl dd {
  font-style: italic;
}

ul.pagination {
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0.5em 0;
  list-style: none;
}

ul.pagination li {
  padding: 0 1em;
}

img:not([alt]){
	filter: grayscale(100%)
}

footer * {
	text-align: center
}

#home > ul > li:not(:last-child) {
	border-bottom: solid 1px var(--ce);
}

/* header.html */

header {
	width: 100vw;
	height: 254px;
	position: relative;
}

@media only screen and (min-width: 1041px) {
	a.main > header {
		width: 720px;
		margin: 0 auto;
	}
}

header.contain-bg {
	background-size: cover;
	background-repeat: no-repeat;
}

header.no-bg {
	background: linear-gradient(141deg, #9fb8ad 0%, #606c88 51%, #3f4c6b 75%);
}

header > div.title {
	color: var(--white);
	position: absolute;
	max-width: 700px;
	left: 0;
	right: 0;
	bottom: 0;
}

@media only screen and (min-width: 801px) {
	header > div.title {
		margin-left: auto;
		margin-right: auto;
	}
}

header > div.title > h1 {
	font-size: 2.57em;
	margin: 0;
}

header > div.title > ul {
	list-style-type: none;
	padding:0;
	margin-bottom:0.7143em;
}

header > div.title > ul > li:last-child {
	padding-top: 4px;
}

@media only screen and (min-width: 1041px) {
	.mobile-chevron-left {
		display: none;
	}
}

@media only screen and (max-width: 1040px) {
	.mobile-chevron-left {
		display: inline-block;
		margin: 1rem;
	}

	/* TODO 아이콘 명세에 맞게 하기 */
	.mobile-chevron-left > span {
		font-size: 1.7rem;
		-webkit-text-stroke: 2px var(--white);
	}
}

/* nav.html */

.toc-h2, .toc-h3, .right-side-li {
	list-style-type: none;
	padding-left: 0px;
}

/* .right-side-li {} */

.side-header {
	font-size: 1.1em;
	font-weight: bold;
}

@media only screen and (min-width: 1440px) {
	#left-side {
		margin-left: -200px;
	}

	#right-side {
		margin-left: 800px;
	}
}

@media only screen and (max-width: 1439px) {
	#left-side {
		left: 3rem;
	}
}

@media only screen and (max-width: 1100px) {
	#left-side {
		left: 1rem;
	}
}

@media only screen and (min-width: 1041px) {
	#left-side {
		width: 120px;
		position: fixed;
		z-index: 1;
		text-align: right;
		top: 264px;
	}

	/* #right-side {
		text-align: left;
		margin-top: 87px;
	} */

	.toc > li, .right-side-li {
		padding:0;
		margin-top: 0;
		font-weight: 400;
	}
	.toc-h3 {
		font-size: 12px;
	}
}

@media only screen and (max-width: 1040px) {
	.menu, .right-side {
		display: none;
	}

	#left-side {
		position: static;
		margin: 1em auto -1em;
	}

	.toc-h2 {
		padding:0;
		font-weight: 600;
		font-size: 0.9rem;
	}
	.toc-h3 {
		padding-left: 0.5em;
		font-weight: normal;
	}
}

.menu > a > #nav-site-title {
	margin: 0 auto 5px;
}
