{{ if .IsHome }}
	{{ range first 1 (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
		{{ if .Params.image }}
	<a class="main" href="{{ .Permalink }}" title="{{ .Title }}">
	{{ partial "header-bg" . }}
		{{ else }}
	<header class="no-bg">
		{{ end }}
	{{ partial "header-contents" . }}
	</header>
	</a>
	{{ end }}
{{ else }}
{{ if .Params.image }}
{{ partial "header-bg" . }}
{{ else }}
	<header class="no-bg">
{{ end }}
	<a class="mobile-chevron-left" href="{{ relURL "/" }}">
		<span class="mdil mdi-light mdil-chevron-left"></span>
	</a>
	{{ partial "header-contents" . }}
</header>
{{ end }}
