{{ define "partials/header-wrapper" }}
	{{ if .Params.image }}
		{{ partial "header-bg" . }}
	{{ else }}
		<header class="no-bg">
	{{ end }}
	{{ partial "header-contents" . }}
		</header>
{{ end }}

{{ if .IsPage }}
  {{ if .Params.image }}
	  {{ partial "header-bg" . }}
	{{ else }}
		<header class="no-bg">
	{{ end }}
	<button class="mobile-back" onclick="location.href='{{ relURL "/" }}'">
		{{ partial "back-icon" . }}
	</button>
	{{ partial "header-contents" . }}
	</header>
{{ end }}


{{ if .IsHome }}
	{{ if (eq .Paginator.PageNumber 1) }}
	{{/*  hack: first article is about page  */}}
		{{ range first 2 (.Paginator.Pages) }}
			{{ if (eq .Page.Type "posts") }}
				<a class="main" href="{{ .Permalink }}" title="{{ .Title }}">
					{{ partial "header-wrapper" . }}
				</a>
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}
