<div class="bottom-app-bar">
	<a href="./#">
		<button class="bottom-app-bar__fab bottom-app-bar__fab--center-cut btn-floating btn-large">
			<span class="mdil mdil-chevron-up bottom-app-bar__navigation-icon black-stroke"></span>
		</button>
	</a>

	<div class="bottom-app-bar__row">
		<section class="bottom-app-bar__section bottom-app-bar__section--align-start">
			<span class="mdil mdil-menu bottom-app-bar__navigation-icon whilte-stroke"></span>
			<a class="a2a_dd" href="https://www.addtoany.com/share">
				<span class="mdil mdil-link-variant bottom-app-bar__action-item whilte-stroke">
			</a>
			</span>
		</section>
	</div>
</div>

<div class="bottom-app-drawer is-hidden">
	<section class="bottom-app-drawer-header">
		<div class="bottom-app-drawer-header-text">
			<h6>{{ .Site.Title }}</h6>
			{{ with .Site.Params.tagline }}
    			<p>{{ . | markdownify }}</p>
			{{ end }}
		</div>
	</section>
	<section class="bottom-app-drawer-menu">
		{{ if .IsPage }}
		<div class="bottom-app-drawer-item bottom-app-drawer-item-select">
			<span class="bottom-app-drawer-item-text">{{ .Title }}</span>
		</div>
		{{ end }}
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
		<a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{.URL}}">
			<div class="bottom-app-drawer-item">
    			<span class="bottom-app-drawer-item-text">{{ .Name }}</span>
			</div>
		</a>
		<!-- TODO: 3개 요소 이상 지원하기-->
		{{ end }}
	</section>
</div>
