{{ define "main" }}

{{ range $index, $page := where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
	{{if not (eq $index 0) }}
<section id="home">
	<ul>
		<li style="overflow: auto">
			{{ if $page.Params.image }}
				<a href="{{ .Permalink }}"><img alt="{{ .Title }}" src="{{ $page.Params.image }}" /></a>
				<!-- <img alt="{{ .Title }}" src="{{ $page.Params.image }}" /> -->
			{{ end }}
			<h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
			{{ partial "aside" . }}
			<p> {{ .Description }} </p>
		</li>
		{{ end }}
	{{ end }}
	</ul>
</section>

{{ end }}
